# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/travelx_db

# Redis (optional locally)
USE_REDIS=False
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/2

# Kafka (optional)
KAFKA_BROKER=localhost:29092

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Groq AI
GROQ_API_KEY=

# Unsplash
UNSPLASH_ACCESS_KEY=

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=